.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .title-group i {
    padding-right: 5px;
    
}

a {
    color: black;
}